body{
    background-color: pink;
}

.square{
    height: 401px;
    width: 592px;
    background-color: #181818;
    position: relative;
    left: 390px;
    top: 300px;
    border-radius: 5px;
}

h1{
    height: 59px;
    width: 418px;
    font-size: 25px;
    color: white;
    position: relative;
    left:550px;
    bottom: 80px;
    font-family: Murecho;
}

h3{
    height: 27px;
    width: 207px;
    font-size: 12px;
    color: white;
    position: relative;
    left: 470px;
    bottom: 155px;
    font-family: Italiana;
}

p{
    height: 51px;
    width: 519px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    position: relative;
    left: 550px;
    bottom: 130px;
}

.sec{
    height: 51px;
    width: 519px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    position: relative;
    left: 550px;
    bottom: 130px;
}

.first{
    height: 57px;
    width: 158px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
}

.second{
    height: 57px;
    width: 158px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    bottom: 165px;
}

.third{
    height: 57px;
    width: 158px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    bottom: 195px;
}

.number{
    height: 57px;
    width: 158px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    position: relative;
    left: 700px;
    bottom: 345px;
}

.number2{
    height: 57px;
    width: 158px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    position: relative;
    left: 700px;
    bottom: 379px; 
}

.number3{
    height: 57px;
    width: 158px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    position: relative;
    left: 700px;
    bottom: 410px; 
}

h2{
    height: 18px;
    width: 111px;
    font-size: 20px;
    color: white;
    position: relative;
    left: 550px;
    bottom: 440px;
}

.best{
    height: 18px;
    width: 111px;
    font-size: 20px;
    color: white;
    position: relative;
    left: 690px;
    bottom: 475px;
}


img{
    position: relative;
    left: 270px;
    bottom: 700px;
}